@import "tailwindcss";

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.5s ease-in-out;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  width: 60%
}


